$index-nav: 1000;
$index-nav-toggle: 2000;
$color-nav: #a19f98;
$color-nav-hover:#20a679;
$border-bottom-color: #3f506f;
$blog-bg-color: #f5f8fa;
$blog-title-color: #404040;
$blog-title-hover-color:#0085a1;
$blog-sort-color:#e4e4e4;