.blog-create-content {
  padding-left: 60px;
  width:80%;
  h1{
    color:#a19f98;
  }
}
.form-group{
  width: 100%;
  padding: 12px 0;
  input{
    width: 99%;
    padding: 8px 0 8px 10px;
  }
  textarea{
    width: 100%;
    min-height: 450px;
    padding: 8px 0 8px 10px;
  }
}

.admin-form{
  width: 100%;
  padding-top: 10px;
  a{
    float:right;
    background-color: #fff;
    text-align: center;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    color:#a19f98;
    &:hover{
      color:#20a679;
      opacity: .8;
    }
  }
}