.admin-nav {
  width: 20%;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  text-align: center;
  background: #fff;
  font-size: 20px;
  border-right: 1px solid #ddd;
  z-index: 2;
  .admin-nav-title{
    color:#a19f98;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
  }
  .admin-nav-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    &.active{
      background: #f5f5f5;
    }
    a{
      display: block;
      color:#a19f98;
      cursor: pointer;
      &:hover{
        color:#20a679;
      }
    }
  }
}